{% extends 'home.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='acceuil_non_connecte.css')}}"
/>
{% endblock styles %} {% block content %} 
<main>
  <div id="scroll">
    <div>
      <h2><span class="highlight">Union Musicale de Férolles :</span></h2>
      <p>
        <span class="highlight">L'Union Musicale de Férolles est une association regroupant une école de
        musique et une harmonie.</span>
      </p>
      <p>
        <span class="highlight">Cette association souhaite rendre accessible à tous la pratique
        musicale.</span>
      </p>
    </div>

    <div>
      <h2><span class="highlight">Horaires : </span></h2>
      <p><span class="highlight">Lundi   :   Fermé</span></p>
      <p><span class="highlight">Mardi   :   Fermé</span></p>
      <p><span class="highlight">Mercredi   :   10h00 – 18h00</span></p>
      <p><span class="highlight">Jeudi   :   Fermé</span></p>
      <p><span class="highlight">Vendredi   :   17h30 – 22h30</span></p>
      <p><span class="highlight">Samedi   :   08h00 – 12h00</span></p>
      <p><span class="highlight">Dimanche   :   Fermé</span></p>
    </div>
    <div>
        <h2><span class="highlight">Adresse :</span></h2>
        <p><span class="highlight">Pl. de l'Église,</span></p>
        <p><span class="highlight">45150 Férolles</span></p>
    </div>
    <div>
      <h2><span class="highlight">Un problème technique ?</span></h2>
      <p>
        <span class="highlight">Merci de nous contacter sur
        <a href="mailto:iuto45@orleans.fr? subject = Feedback&body"
          >iuto45@orleans.fr</a
        ></span>
      </p>
    </div>
  </div>
</main>
{% endblock content %}
