{% extends 'home.html' %} {% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='acceuil_directrice.css')}}" />
<script src="../static/js/repet.js" defer></script>
{% endblock styles %} {% block content %}
<h1>Feuille de présence</h1>
<section>
  <button id="btn" onclick="location.href = '{{ url_for('repetitions') }}';"><h2>Répétitions > </h2></button>
  <button id="btn" onclick="location.href = '{{ url_for('repetitions') }}';"><h2>Concerts > </h2></button>
  <button id="btn" onclick="location.href = '{{ url_for('repetitions') }}';"><h2>Sortie > </h2></button>
</section>
{% endblock content %}
