{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='ajoute_equipement.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/ajoute_equipement.css')}}" />
{% endif%}
{% endblock styles %} {% block content %}

<h1>Ajouter des équipements</h1>

<div id="formulaire">
  <form role="form" method="POST" action="{{ url_for('ajoute_equipement') }}">
    {{ form.hidden_tag() }}
    <div>
      <p>Nom de l'équipement</p>

      {{ form.nom(class_="test" ,placeholder ="Guitare, Violon, Flute, Costume...")}}

    </div>
    <div id="bouton">
      <button type="submit" id="bAjouter"> [ AJOUTER ]</button>
      <button type="reset" id="bAnnuler" onclick="history.go(-1);">[ RETOUR ]</button>
    </div>
    {% if erreur ==1 %}<p>Deja existant</p>
    {% elif erreur ==0 %} <p>Equipement ajouté</p>
    {% endif %}

  </form>
</div>

{% endblock content %}
