{% extends 'home.html' %} {% block styles %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>

{% endblock styles %} {% block content %}

<main>
    <div id="calendar"></div>

    <script>
      $(document).ready(function() {
          // Initialisez le calendrier avec les données passées depuis Flask
          $('#calendar').fullCalendar({
              events: {{ events_data | tojson }},
              contentHeight: 'auto',  // Ajustez la hauteur du contenu selon vos besoins
              weekMode: 'variable',  // Ajustez le nombre de semaines affichées
              eventClick: function(calEvent, jsEvent, view) {
                  // Redirigez l'utilisateur vers l'URL associée à l'événement
                  console.log(calEvent.url);
                  window.location.href = calEvent.url;
              },
              // Autres options et callbacks peuvent être ajoutés ici
          });
      });
  </script>
</main>
{% endblock content %}
