
{% extends 'home.html' %} {% block styles %} 
{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/login.css')}}" />
{% endif%}
{% endblock styles %} {% block content %}
<h1>Changer profil</h1>
<div id="formulaire">
  <form role="form" method="POST" action="{{ url_for('changer_profil', id=user.mail) }}">
  {{ form.hidden_tag() }}
    <div>
    <p>Votre nom</p>
    <div>
      {{ form.nom(class_="test" ,placeholder ="nom",value=user.nom)}}
    </div>
    </div>


    <div>
    <p>Votre prenom</p>
    <div>
      {{ form.prenom (class_="test", placeholder="prenom",value=user.prenom) }}
    </div>
    </div>

    <div>
    <p>Votre date de naissance</p>
    <div>
      {{ form.date_nais(class_="test" ,placeholder ="date",value=user.ddn)}}
    </div>
    </div>

    <div>
    <p>Votre numero de telephone</p>
    <div>
      {{ form.num(class_="test" ,placeholder ="XXXXXXXXXX",value=user.num_tel)}}
    </div>
    </div>

    <div>
      <p>Votre instrument</p>
      <div>
        {{ form.instrument(class_="test",value=user.instrument_id)}}
      </div>
      </div>

    <div>
    <p>Votre mot de passe</p>
    <div>
      {{ form.password(class_="test" ,placeholder ="mot de passe")}}
    </div>
    </div>

    <div id="bouton">
    <button type="submit">Mettre à jour</button>
    </div>
  </form>
</div>

{% endblock content %}
