{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='choix_sondages.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/choix_sondages.css')}}" />
{% endif%}
{% endblock styles %} {% block content %}
<main>
  <h1>Choix du type de sondage</h1>
  <div id="formulaire">
    <button
      onclick="location.href = '{{ url_for('creer_sondage_participation') }}';"
    >
      Sondage de participation
    </button>
    <button
      onclick="location.href = '{{ url_for('creer_sondage_satisfaction') }}';"
    >
      Sondage de satisfaction
    </button>
  </div>
</main>

{% endblock content %}
