
{% extends 'home.html' %} {% block styles %} 
  {{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{% endblock styles %} {% block content %}
<h1>Créer répétition</h1>
<div id="formulaire">
  <form role="form" method="POST" action="{{ url_for('creer_repetition') }}">
  {{ form.hidden_tag() }}
  <div>
    <p>nom</p>
    <div>
      {{ form.nom(class_="test" ,placeholder ="nom")}}
    </div>
    </div>
    <div>
    <p>lieu</p>
    <div>
      {{ form.lieu(class_="test" ,placeholder ="lieu")}}
    </div>
    </div>

    <div>
    <p>date</p>
    <div>
      {{ form.date(class_="test" ,placeholder ="date")}}
    </div>
    </div>
    <div>
    <p>description</p>
    <div>
      {{ form.description(class_="test" ,placeholder ="description")}}
    </div>
    </div>
    <div>
      {{ form.equipements(class_="test", placeholder="equipement")}}
    </div>
    <div id="bouton">
    <button type="submit">Enregistrer</button>
    </div>
  </form>
</div>

{% endblock content %}
