{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='detail_repetition.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/detail_repetition.css')}}" />
{% endif%}

{% endblock styles %} {% block content %}
<h1>Repetition</h1>
<div id="formulaire">
  <h2>{{r.lieu}}</h2>
  <p>{{r.date}}</p>
  {% for e in r.accessoires %}
  <p>{{e.nom}}</p>{% endfor %}
  <a href="" onclick="history.go(-1);">Retour</a>
</div>
{% endblock content %}
