{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='choix_sondages.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/choix_sondages.css')}}" />
{% endif%}

{% endblock styles %} {% block content %}
<main>
  <h1>Gérer les musiciens</h1>
  <div id="formulaire">
    <button
      onclick="location.href = '{{ url_for('feuille_presence') }}';"
    >
      Feuille de présence
    </button>
    <button
      onclick="location.href = '{{ url_for('stats_musiciens') }}';"
    >
      Statistiques des musiciens
    </button>
  </div>
</main>

{% endblock content %}
