
{% extends 'home.html' %} {% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{% endblock styles %} {% block content %}
<h1>Connexion</h1>
<div id="formulaire">
  <form role="form" method="POST" action="{{ url_for('login') }}">
  {{ form.hidden_tag() }}
    <div>
    <p>Votre email</p>
    <div>
      {{ form.mail(class_="test" ,placeholder ="exemple@gmail.com")}}
    </div>
    </div>
    <div>
    <p>Votre mot de passe</p>
    <div>
      {{ form.password (class_="test", placeholder="Password") }}
    </div>
    </div>
    <div id="bouton">
    <button type="submit">Se connecter</button>
    </div>
  </form>
</div>

{% endblock content %}
