
{% extends 'home.html' %} {% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}" />
{% endblock styles %} {% block content %}
<div id="formulaire">
  <h1>Login</h1>
  <form role="form" method="POST" action="{{ url_for('login') }}">
  {{ form.hidden_tag() }}
    <div>
      {{ form.username(size =50, placeholder ="Username")}}
    </div>
    <div>
      {{ form.password (size =50, placeholder="Password") }}
    </div>
    <div >
      <button type="submit">Se connecter</button>
    </div>
  </form>
</div>

{% endblock content %}
