{% extends 'home.html' %} 
{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='statistique.css')}}" />
    <script src="../static/js/affichage.js" defer></script>
{% endblock styles %} 
{% block content %}
  <div class="info">
    <section>
        <p id="lastname">{{user.nom}}</p>
        <p id="name">{{user.prenom}}</p>
        <p id="email">{{user.mail}}</p>
        <p id="date">{{user.ddn}}</p>
        <p id="number">{{user.num_tel}}</p>
    </section>
    <img id="violon" src="../static/images/violon.png" alt="image de violon">
  </div>
  <div class="btnChange">
    <button type="submit" onclick="location.href = '{{ url_for('changer_profil',id=user.mail) }}';"> Changer profil </button>
    {% if current_user.role_id==3 and user.role_id==1 %}
    <button type="submit" onclick="location.href = '{{ url_for('supprimer_musicien',id=user.mail) }}';"> Supprimer musicien </button> 
    {% endif%}
  </div>