{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_sondage_satis.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/new_sondage_satis.css')}}" />
{% endif%}

{% endblock styles %} {% block content %}

<div id="formParent">
  <form
    role="form"
    method="POST"
    action="{{ url_for('creer_sondage_satisfaction') }}"
  >
    {{ form.hidden_tag() }}
    <div id="formulaireSondage">
      <div class="divForm" id="nomActi">
        <h2>Question et date limite :</h2>
        
        <div id="Questions">
          {{ form.dateFin(id_="form" ,placeholder ="")}}
          {{ form.heureFin(id_="form" ,placeholder ="")}}
          {{ form.question(id_="form" ,placeholder ="Question ...")}}
          <div>
            <ul>
              {%if sondage%}
              {% for s in sondage.reponses_possibles %}
              <li><p class="item">{{ s.nom }}</p></li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>
          {{ form.reponses(id_="form" ,placeholder ="Réponse possible ...")}}
        </div>
        <div id="buttons">
          <button type="submit" id="bValider">[ AJOUTER UNE REPONSE ]</button>
          <button
            type="reset"
            id="bAnnuler"
            onclick="location.href = '{{ url_for('home') }}';"
          >
            [ RETOUR ]
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
