{% extends 'home.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='new_sondage.css')}}"
/>

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_sondage.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/new_sondage.css')}}" />
{% endif%}

{% endblock styles %} {% block content %}

<div>
  <form
    role="form"
    method="POST"
    action="{{ url_for('creer_sondage_participation') }}"
  >
    {{ form.hidden_tag() }}
    <div id="formulaireSondage">
      <div class="divForm" id="nomActi">
        <h2>Nom de l’activité</h2>
        <div>
          {{ form.nomActivite(id_="formNom" ,placeholder ="Concert ... ")}}
        </div>
      </div>

      <div class="divForm" id="lieuActi">
        <h2>Lieu de l’activité</h2>
        <div>
          {{ form.lieuActivite (id_="formLieu", placeholder="3 rue du fun,
          Orléans 45000") }}
        </div>
      </div>

      <div class="divForm" id="dateActi">
        <h2>Date de l’activité</h2>
        <div>{{ form.dateActivite (id_="formDate", placeholder="") }}
          {{ form.heureDebut (id_="formDate", placeholder="") }}
        </div>
      </div>

      <div class="divForm" id="dateFin">
        <h2>Date limite du sondage</h2>
        <div>{{ form.dateFin (id_="formDate", placeholder="") }}
          {{ form.heureFin (id_="formDate", placeholder="") }}
        </div>
      </div>

      <div class="divForm" id="matActi">
        <h2>Materiel nécessaire</h2>
        <div id="gestionAdd">
          <div id="navRecherche">
            {{form.equipements}}
            <a href="{{ url_for('ajoute_equipement') }}"
              ><img
                src="../static/images/addMat.png"
                alt="Ajouter de l'équipement"
            /></a>
          </div>
        </div>
      </div>

      <div class="divForm" id="descrActi">
        <h2>Description de l’activité</h2>
        <div>
          {{ form.descriptionActivite (id_="formDesc", placeholder=". . .") }}
        </div>
      </div>
    </div>
    <div id="actionbutton">
      <button
        type="reset"
        id="bAnnuler"
        onclick="location.href = '{{ url_for('home') }}';"
      >
        [ ANNULER ]
      </button>
      <button type="reset" id="bReset">[ RESET ]</button>
      <button type="submit" id="bValider">[ VALIDER ]</button>
    </div>
  </form>
</div>

{% endblock content %}
