{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='repetitions.css')}}" />
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dark/repetitions.css')}}" />
    {% endif%}


{% endblock styles %} {% block content %}

<h1>Statistiques musiciens</h1>
<div id="scroll">
  {% for user in users %}
      <div class="repetition">
        <a href="{{ url_for("profil",id=user.mail)}}"><p>{{user.instrument.name}} {{ user.nom }} {{user.prenom}} </p></a>
      </div>
    {% endfor %}
</div>
<div id="bouton">
  <button type="reset" id="bAnnuler" onclick="history.go(-1);">[ RETOUR ]</button>
</div>
{% endblock content %}