{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='repetitions.css')}}" />
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dark/repetitions.css')}}" />
    {% endif%}


{% endblock styles %} {% block content %}

<h1>Profil musiciens</h1>
<select id='selectInstruments' onchange="filtrages()"> 
  <option value="">
    Tous les instruments
  </option>
  {% for user in users %}
  <option value="{{user.instrument.name}}">
    {{user.instrument.name}}
  </option>
  {% endfor %}
</select>

<div id="scroll">
  {% for user in users %}
      <div class="repetition" id="{{user.instrument.name}}">
        <a href="{{ url_for("profil",id=user.mail)}}"><p>{{user.instrument.name}} {{ user.nom }} {{user.prenom}} </p></a>
      </div>
    {% endfor %}
</div>
<div id="bouton">
  <button type="reset" id="bAnnuler" onclick="history.go(-1);">[ RETOUR ]</button>
</div>
<script defer>
  function filtrages() {
    let selectInstruments = document.getElementById('selectInstruments');
    let filterOption = selectInstruments.value.toLowerCase();
    let musicians = document.querySelectorAll('.repetition');
    console.log("filtrage")
    musicians.forEach(musician => {
      let instrumentName = musician.id.toLowerCase();
      if (filterOption === "" || instrumentName.includes(filterOption)) {
        musician.style.display = "";
      } else {
        musician.style.display = "none";
      }
    });
  }


</script>
{% endblock content %}
