
{% extends 'home.html' %} {% block styles %} 

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/register.css')}}" />
{% endif%}


{% endblock styles %} {% block content %}
<h1>Inscription</h1>
<div id="formulaire">
  <form role="form" method="POST" action="{{ url_for('creer_user') }}" class="registration-form">
  {{ form.hidden_tag() }}
    <div>
    <p>Votre nom</p>
    <div>
      {{ form.nom(class_="test" ,placeholder ="nom")}}
    </div>
    </div>


    <div>
    <p>Votre prenom</p>
    <div>
      {{ form.prenom (class_="test", placeholder="prenom") }}
    </div>
    </div>

    <div>
    <p>Votre date de naissance</p>
    <div>
      {{ form.date_nais(class_="test" ,placeholder ="date")}}
    </div>
    </div>

    <div>
    <p>Votre mail</p>
    <div>
    {{ form.mail(class_="test" ,placeholder ="exemple@gmail.com")}}
    </div>
    </div>

    <div>
    <p>Votre numero de telephone</p>
    <div>
      {{ form.num(class_="test" ,placeholder ="XXXXXXXXXX")}}
    </div>
    </div>

    

    <div>
    <p>Votre role</p>
    <div>
      {{ form.role(id="role", class_="test" ,placeholder ="role")}}
    </div>
    </div>


    <div id="instrument">
      <p>Votre instrument</p>
      <div>
        {{ form.instrument(class_="test" ,placeholder ="instrument")}}
      </div>
      </div>

    <div>
    <p>Votre mot de passe</p>
    <div>
      {{ form.password(class_="test" ,placeholder ="mot de passe")}}
    </div>
    </div>


    <div id="bouton">
    <button type="submit">S'inscrire</button>
    </div>
  </form>
</div>

{% block scripts %}
  <script>
    // Attend que le document soit prêt
    document.addEventListener("DOMContentLoaded", function () {
      // Récupère l'élément select avec l'id 'role'
      var roleSelect = document.getElementById('role');

      // Récupère l'élément input avec l'id 'instrument'
      var instrumentInput = document.getElementById('instrument');

      // Écoute les changements dans la sélection du rôle
      roleSelect.addEventListener('change', function () {
        // Si la valeur sélectionnée est égale à 1, affiche le champ instrument, sinon cache-le
        if (roleSelect.value === '1') {
          instrumentInput.style.display = 'block';
        } else {
          instrumentInput.style.display = 'none';
        }
      });

      // Initialise l'état initial du champ instrument
      if (roleSelect.value !== '1') {
        instrumentInput.style.display = 'none';
      }
    });
  </script>
{% endblock %}
{% endblock content %}
