{% extends 'home.html' %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='repetitions.css')}}"
/>
{% endblock styles %} {% block content %}
<h1>Prochainement  :</h1>
<div id="scroll">
  {% for r in repetitions %}

{% for ra in repetitions_activites %}
{% if ra.nom %} <a href="{{url_for("repondre_sondage",id=ra.id)}}">
    <div id="repetition">{{ra.date}}---{{ra.nom}}</div>
</a> 
{% else %}
<a href="{{url_for("detail_repetition",id=ra.id)}}">
    <div id="repetition">{{ra.date}}---Repetition</div>
</a>  {% endif %}



</div>
{% endblock content %}
