{% extends 'home.html' %} {% block styles %}


{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='repetitions.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/repetitions.css')}}" />
{% endif%}

{% endblock styles %} {% block content %}
<h1>Prochainement  :</h1>
<div id="scroll">
    {% for ra in repetitions_activites %}
        {% if ra.nom %} 
            <a href="{{url_for("repondre_sondage",id=ra.id)}}">
                <div class="repetition">
                    <p>{{ra.nom}}</p>
                    <p>{{ra.get_date()}}</p>
                </div>
            </a>
        {% else %}
            <a href="{{url_for("detail_repetition",id=ra.id)}}">
                <div class="repetition">
                    <p>Repetition</p>
                    <p>{{ra.get_date()}}</p>
                </div>
            </a>  
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}