{% extends 'home.html' %} {% block styles %} 

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='reponse_sondage.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/reponse_sondage.css')}}" />
{% endif%}



{% endblock styles %} {% block content %}
<button class="bouton" id="boutonRetour" onclick="history.go(-1);">RETOUR</button>
{% if sondage.question %}<h1>{{sondage.question}}</h1>
{% else %}
<h1>{{sondage.activite.nom}} du {{sondage.activite.date}}</h1>

{% endif %}
<h3>Sondage terminé le {{sondage.date_fin}}</h3>



<p class="rep"> Réponses : {{sondage.nombre_reponses()[0]}} / {{sondage.nombre_reponses()[1]}}</p>

<div id = "stat">
  {% for key, value in sondage.get_pourcentage_rep().items() %}
  <p class = "rep">{{key}} : {{value}} </p>
  {% endfor %}
</div>

<main>
    <div id="scroll">
      {% for i in l %}
      <div id="rep_sondage">
        <p>{{i.1}} {{i.2}}</p>
        <p>Réponse : {{i.0}}</p>
        {% if i.0 == "JE PARTICIPE" %}
        <div id="vert">
          <p> </p>
        </div>
        {% endif%}
        {% if i.0 == "JE NE PARTICIPE PAS" %}
        <div id="rouge">
            <p> </p>
        </div>
        {% endif%}
      </div>
      {%endfor%}
    </div>
</main>
{% endblock content %}

