{% extends 'home.html' %} {% block styles %}

{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='repondre_sondage.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/repondre_sondage.css')}}" />
{% endif%}

{% endblock styles %} {% block content %}
<main>
  <button
  class="bouton"
  id="boutonRetour"
  onclick="history.go(-1);"
>
  RETOUR
</button>

  <form
    role="form"
    method="POST"
    action="{{ url_for('repondre_sondage',id=sondage.id) }}"
  >
    <div id="top">
      <h1>{{sondage.activite.nom}}</h1>
      {% if sondage.question%}
      <h1>{{sondage.question}}</h1>
      <p>Fin le  {{sondage.get_date()}}</p>
      {%endif%}
    </div>

    <div id="pane">
      {% if not sondage.question %}
      <section>
        <h2 id="Description">Description</h2>
        <p>{{sondage.activite.description}}</p>
      </section>
      <section id="materiel">
        <h2>Matériel nécessaire</h2>
        <ul>
          {% for e in sondage.activite.accessoires%}
          <li>{{e.nom}}</li>
          {% endfor%}
        </ul>
      </section>
      <section>
        <h2>Lieu</h2>
        <section class="map">
          <iframe id="map"
          width="400" 
          height="250" 
          style="border:0"
          Loading="lazy" 
          allowfullscreen 
          src="">
      </iframe>
      </section>

        <a id="lieu" href={{lieu_map}}><h3>{{sondage.activite.lieu}}</h3></a>

      </section>
      <h2 id="date">Le {{sondage.activite.get_date()}}</h2>
      {% endif%}
      {% if current_user.role_id==1 %}
      <div id="consentement">
        
       
        {{form.reponse()}}
        <button id="boutonValider" type="submit">Valider</button>
       
      </div>
      {% endif %}

      
    </div>
  </form>

  {% if current_user and (current_user.role_id == 2 or current_user.role_id == 3) %}
         <button class="bouton" id="boutonRetour" onclick="location.href = '{{ url_for('reponse_sondage', id=sondage.id) }}';">Reponse</button>
         <button class="bouton" id="boutonRetour" onclick="location.href = '{{ url_for('delete_sondage', id=sondage.id) }}';">Supprimer</button>
         {% endif %}

  <script>
    var map = document.getElementById("map");
    map.src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyD6OQZ9MSy_zphm1WHjcO4tSRvUue8Q93g&q=" + "{{sondage.activite.lieu}}";
  </script>
</main>
{% endblock content %}
