{% if user.mode == "default" %}
<link rel="stylesheet" href="{{ url_for('static', filename='sondages.css')}}" />
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark/sondages.css')}}" />
{% endif%}
{% extends 'home.html' %} {% block content %}
<div id="scroll">
  <h1>Prochainement :</h1>
  {% for s in sondages [::-1][0:6] %}
  <div class="sondage">
    {% if current_user.role_id==1 %}
    <a href="{{ url_for('repondre_sondage',id=s.id)}}">
    {% else %}
    <a href="{{ url_for('reponse_sondage',id=s.id)}}">
    {% endif %}
    {% if s.jours_restants()[1] == -1 %}
    <p>{{s.jours_restants()[0]}} jours restants</p>
    {% else %}
    {% if s.jours_restants()[1] <= 1 %} <p style="color: red;">{{s.jours_restants()[2]}} minutes restantes</p>
      {% else %}
      <p>{{s.jours_restants()[1]}} heures restantes</p>
      {% endif %}
      {% endif %}
      {% if s.question %}
      <p>{{s.question}}</p>
      <p>{{s.nombre_reponses()[0]}} / {{s.nombre_reponses()[1]}}</p>
      {%else%}
      <p>{{s.activite.nom}}</p>
      <p>{{s.nombre_reponses()[0]}} / {{s.nombre_reponses()[1]}}</p>
      {%endif%}
    </a>
  </div>

  {% endfor%}
</div>
{% endblock content %}
