.container{
    width: 50rem;
    height: 40rem;

    background-color: rgba(192,143,111,0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px rgba(192,143,111,0.5) solid;
    border-bottom: rgba(192,143,111,0.3);
    border-right: rgba(192,143,111,0.3);

    text-align: center;
    align-content: center;
    align-items: center;
    display : flex;
    justify-content: center;
    margin: 1%;
}



.dycalendar-prev-next-btn{
    font-size: 4rem;
}
.next-btn{
    margin-left: 1.5rem;
}
.prev-btn{
    margin-right: 1.5rem;
}

td{
    font-size: 2rem;
    color: rgba(192,143,111,100);
    padding: 1rem;
}
.dycalendar-span-month-year{
    font-size: 4rem;
}

.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date{
    background-color: #9F5C45;
    border-radius: 15px;
    color: #F0E4D4 ;
}