#formulaire{
    background-color:#C08F6F;
    border-radius: 15px;
    margin-left: 39%;
    margin-right: 30%;
}
h1{
    color:#8A5741;
    padding: 50px;
    text-align: center;
    font-size:7rem;
}

div{
    padding: 0.5rem;
    position: relative;
    width: 20rem;;
    
}
p{
    color:#F0E4D4;
}
.test{
    background:#F0E4D4;
    border:none;
    outline:none;
    border-radius: 15px;
    color:#8A5741;
    padding:2px 5rem 5px 10px;
    margin: 0;
}
#bouton{
    text-align: center;
}
button{
    color:#F0E4D4;
    background-color: #8A5741;
    border-radius: 15px;
    border:none;
    height: 40px;
    width:90px;
}
@media(max-width: 1000px) { 
    #formulaire{
        margin-left: 28%;
        padding: 20px;
        width: 20rem;
    }
    footer{
        height: 5%;    
    }
    footer p{
        font-size: 0.5rem;
    }
}
@media(max-width: 700px) { 
    #formulaire{
        margin-left: 20%;
        padding: 20px;
        width: 20rem;
    }
    footer{
        height: 5%;    
    }
    footer p{
        font-size: 0.5rem;
    }
}

@media(max-width: 540px) { 
    #formulaire{
        margin-right: auto;
        width: 20rem;

    }
    h1{
        font-size: 5rem;
        margin-left : 2rem;
    }
}

@media (max-width: 490px) {
    #formulaire{
        margin-left: 16%;
        width: 20rem;
    }
    h1{
        font-size: 5rem;
        margin-left : auto;
    }
    footer{
        height: 5%;    
    }
    footer p{
        font-size: 0.5rem;
    }
    
}

@media (max-width: 490px) {
    #formulaire{
        margin-left: 12%;
        width: 20rem;
    }
    h1{
        font-size: 4rem;
        margin-left : auto;
    }
    
}

@media (max-width: 403px) {
    #formulaire{
        margin-left: 5%;
        width: 20rem;
        padding: 5px;
    }
    h1{
        font-size: 2rem;
        margin-left : auto;
    }
   
    
}