
#scroll{
    width: 90%;
    height: 50rem;
    overflow-y: scroll;
    scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
    scrollbar-width: thin;
    background-color:rgba(138, 87, 65, 0.8);
    border-radius: 15px;
    align-self: center;
    margin-top: 1.5em;
    background-image: url('../static/images/font_notes2.png');
    background-repeat: repeat;
    background-size: cover;
    border:rgba(138, 87, 65, 1) solid 2.5px ;
}


.sondage{
    margin: 1em;
    padding: 0em;
    background-color: rgba(240,228,212,0.75);
    width: fit-content + 1em;
    height: fit-content + 1em;
    text-align: center;
    border-radius: 15px;
    border: rgba(192,143,111,0.3) solid 2px;
    backdrop-filter: blur(20px);
    justify-content: center;

    
}

.sondage p {
    margin: 0.5em;
    color: rgba(149,74,51,1);
    font-size: 2em;
    flex: 1;
}

.sondage:hover{
    transform: scale(1.01);
    
}

.sondage a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex: 1;
    
}
h1{
    margin: 0.3em;
    margin-left: 2em;
    color: rgba(240,228,212,1)
}

h1{
    color: #F0E4D4;
    font-family: Alata;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
}

main{
    margin: auto;
}

#pane{
    border-radius: 0.9375rem;
    background: rgba(138, 87, 65, 0.75);
    padding: 1em;
}

#pane p{
    margin: 1em;
    color: #954A33;
    font-family: Alata;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sondage{
    display: flex;
    flex-wrap: nowrap;  
    border-radius: 0.9375rem;
    background: rgba(240, 228, 212, 0.75);  
    align-items: center;
    margin: 1em;
    height: 5rem;
    cursor: pointer;

}

.sondage:hover{
    transform: scale(1.02);
    background: rgba(240, 228, 212, 0.90);  
}


