h1 {
    color: #fff3e3;
    font-family: Alata;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
    margin-top: 1em;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

#formulaire {
    background-color: #241b15;
    border-radius: 15px;
    padding: 1vh;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 80%;
}

div {
    text-align: center;
    margin: 1em;
}

p {
    color: #fff3e3;
    margin: 0.5em;
    font-size: 3vw;
}

.test{
    background: #252421;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #221510;
    text-decoration: none;
    width: 70%;
    height: 2em;
    padding: 0.1em;
    padding-left: 0.5em;
    font-size: 2vw;
}
  
#bouton {
    text-align: center;
    margin-top: 0.5em;
}

button {
    color: #fff3e3;
    background-color: #221610;
    border-radius: 5px;
    border: none;
    height: fit-content;
    width: fit-content;
    font-size: 2vw;
    padding: 0.33em;
    margin: 0.5em;
    
}
  
#sideNavBar{
    margin: 0;
    padding: 0;
}

#equipements{
    height: 5em;
}

body{
    background-color: #272522;
}
  
  